@import './base.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

.fond-ecran {
  background-image: url('@/assets/images/fond_ecran_bulles.jpg');
  background-size: cover;
  min-height: 100vh;
}

.opacity80 {
  opacity: 0.8 !important;
}

.opacity100 {
  opacity: 1 !important;
}

.bg-assbt-primary {
  background-color: #134074 !important;
}

.bg-assbt-dark {
  background-color: #0b2545 !important;
}

.bold-20 {
  font-weight: bold;
  font-size: 20px;
}

.bold-24 {
  font-weight: bold;
  font-size: 24px;
}

.bold-48 {
  font-weight: bold;
  font-size: 48px;
}

.font-20 {
  font-size: 20px;
}

.text-assbt-shine {
  color: #eef4ed;
}

.text-assbt-light {
  color: #8da9c4;
}

.mt100 {
  margin-top: 100px;
}

.input-assbt-login {
  background-color: inherit;
  border-color: white;
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-radius: inherit;
  width: 90%;
}

.logo-x2 {
  width: 200px;
  height: 128px;
}

.center-logo-x2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
